node_modules
typings

*~
.DS_Store

/npm-debug.log

.vscode

reports/*.pdf
screenshots/*


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


# IDEA / WebStorm files
.idea

**/*.log

tmp/*
